
@{
    ViewBag.Title = "SelectFunc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funcionário cadastrado</h2>
<div>
    <b>Código: </b>@ViewBag.id
</div>
<div>
    <b>Nome: </b>@ViewBag.nome
</div>
<div>
    <b>Função: </b>@ViewBag.funcao
</div>