@model ExePedroIII.Models.Carro
@{
    ViewBag.Title = "ConsultaCarro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carro</h2>
<img src="~/Image/camaro.png" width="100%" height="100%" />
<h4>@Model.Fabricante / @Model.Chassis / @Model.Nome / @Model.Tipo </h4>